@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

input {
    border: solid 2px;
    border-radius: 10em;
    padding: 0.5em 1em;
    margin: 0.2em 0em;
    cursor: pointer;
}

p {
    background-color: rgb(224, 224, 224);
    border-radius: 10em;
    padding: 0.5em 1em;
    margin: 0.2em 0em;
    width: fit-content;
    font-size: var(--tagSize);
}

h3 {
    border-radius: 10em;
    padding: 0.5em 1em;
    margin: 0.2em 0em;
    width: fit-content;
    border: solid 2px black;
}

.card {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.1em 0em;
    width: 100%;
    border: solid 2px black;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-flow: dense;
}

input:active {
    background-color: black;
    color: white;
}

input:visited {
    background-color: black;
    color: white;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-flow: dense;
    margin-top: -3em;
}

.map {
    margin-top: 2em;
    max-width: 928px;
}

:root {
    --font: 'NeueMontreal-Regular', system, sans-serif;
    --size: 24px;
    --tagSize: 12px;
}

h1 {
    margin: auto;
    margin-bottom: 4em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    margin: 2em 3em;
    font-size: var(--size);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}

#menu {
    border: solid 2px black;
    background-color: white;
    border-radius: 50em;
    width: 2em;
    height: 2em;
}

.shop {
    border-radius: 50em;
    border: solid 2px black;
    width: 2em;
    height: 2em;
    position: relative;
    z-index: 3;
}

.shop:hover {
    width: 3em;
    height: 3em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
    transition-delay: 10ms;
}

.bakery {
    cursor: pointer;
    background-color: rgb(255, 184, 249);
}

.bank {
    cursor: pointer;
    background-color: rgb(11, 255, 133);
}

.cafe {
    cursor: pointer;
    background-color: rgb(255, 202, 12);
}

.salon {
    cursor: pointer;
    background-color: rgb(24, 201, 255);
}

.gen-store {
    cursor: pointer;
    background-color: rgb(255, 24, 51);
}

.groc {
    cursor: pointer;
    background-color: rgb(188, 255, 31);
}

.pharmacy {
    cursor: pointer;
    background-color: rgb(74, 37, 255);
}

.electronics {
    cursor: pointer;
    background-color: rgb(255, 37, 193);
}

.toy {
    cursor: pointer;
    background-color: rgb(0, 106, 85);
}

.restaurant {
    cursor: pointer;
    background-color: rgb(192, 210, 26);
}

.tailors {
    cursor: pointer;
    background-color: brown;
}

.opticians {
    cursor: pointer;
    background-color: rgb(65, 255, 249);
}

.ice-cream {
    cursor: pointer;
    background-color: rgb(184, 203, 255);
}

.slant {
    transform: rotate(39deg);
    position: relative;
    z-index: 3;
    display: flex;
    margin-top: 5em;
    margin-left: 3.7em;
}

#right {
    margin-left: 1.1em;
}

.shop:nth-child(1) {
    margin-top: 1em;
}

.shop:nth-child(3) {
    margin-top: 1em;
}

.shop:nth-child(4) {
    margin-top: 0.2em;
}

#soc {
    position: relative;
    z-index: 3;
    left: 1em;
}

#theo {
    position: relative;
    z-index: 3;
    left: 1em;
}

img {
    width: 10em;
    border: solid 2px;
    border-radius: 0.2em;
}

#collection {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
}

#roads {
    display: flex;
    flex-direction: column;
    margin-top: -110em;
}

.cross {
    font-size: var(--tagSize);
    background-color: white;
    border: solid 2px black;
    padding: 1em;
    text-align: end;
    z-index: 2;
    margin-top: 35em;
}

.cross-wrap {
    margin-top: -15em;
    position: relative;
    z-index: 3;
}

.shop-wrap:nth-child(2) {
    margin-left: 1em;
}

.past {
    font-size: 12px;
    color: grey;
    border: solid 2px black;
    padding: 1em;
    text-align: end;
    z-index: 2;
    transform: rotate(40deg);
    position: relative;
    top: 8em;
    left: 6em;
    background-color: white;
}

#market-road {
    border: none;
    border-radius: 0;
    width: 9em;
    position: relative;
    z-index: 1;
    margin-left: 2em;
}

.right-shops {
    margin-left: 4.1em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.left-shops {
    margin-left: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.number-cross-wrap {
    display: flex;
}

#third-cross {
    margin-top: 10em;
}

#third-left > a {
    margin-top: 1em;
}

#third-left {
    display: flex;
    flex-direction: column;
}

#third-right {
    margin-left: 1.1em;
}

#third-right > a {
    margin-top: 1em;
}

#monsoon {
    margin-top: 9em;
}

#second-cross {
    margin-top: 2em;
}

#second-right {
    margin-left: 1.1em;
}

#second-right > a {
    margin-top: 1em;
}

#second-left > a {
    margin-top: 2em;
}

#first-cross {
    margin-top: 1em;
}

#first-right {
    margin-left: 1.1em;
}

#first-right > a {
    margin-top: 2.5em;
}

#first-left > a {
    margin-top: 1.5em;
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    @font-face {
        font-family: 'NeueMontreal-Regular';
        src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
            url('NeueMontreal-Regular.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80vw;
    }

    .map {
        margin-top: 2em;
        width: 60%;
    }
    
    :root {
        --font: 'NeueMontreal-Regular', system, sans-serif;
        --size: 24px;
    }
    
    body {
        font-family: var(--font);
        margin: 2em;
        font-size: var(--size);
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
    }
    
    #menu {
        border: solid 2px black;
        background-color: white;
        border-radius: 50em;
        width: 2em;
        height: 2em;
    }
    
    .shop {
        border-radius: 50em;
        width: 2em;
        height: 2em;
        position: relative;
        z-index: 3;
    }
    
    .slant {
        transform: rotate(39deg);
        position: relative;
        z-index: 3;
        display: flex;
        margin-top: 18.3em;
        margin-left: 4em;
    }
    
    #right {
        margin-left: 0.7em;
    }
    
    .shop:nth-child(1) {
        margin-top: 1em;
    }
    
    .shop:nth-child(3) {
        margin-top: 1em;
    }
    
    .shop:nth-child(4) {
        margin-top: 0.2em;
    }
    
    #soc {
        position: relative;
        z-index: 3;
        left: 1em;
    }
    
    #theo {
        position: relative;
        z-index: 3;
        left: 1em;
    }
    
    img {
        width: 10em;
        border: solid 2px;
        border-radius: 0.2em;
    }
    
    #collection {
        display: flex;
        margin-top: 4em;
    }
    
    #roads {
        display: flex;
        flex-direction: column;
        margin-top: -110em;
    }
    
    .cross-wrap {
        margin-top: -15em;
        position: relative;
        z-index: 3;
    }
    
    .shop-wrap:nth-child(2) {
        margin-left: 1em;
    }
    
    .past {
        font-size: 12px;
        color: grey;
        border: solid 2px black;
        padding: 1em;
        text-align: end;
        z-index: 2;
        transform: rotate(40deg);
        margin-top: 12em;
        margin-left: -8em;
        background-color: white;
    }
    
    #market-road {
        border: none;
        border-radius: 0;
        width: 9em;
        position: relative;
        z-index: 1;
        margin-left: 2em;
    }
    
    .right-shops {
        margin-left: 4.1em;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .left-shops {
        margin-left: 1em;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .number-cross-wrap {
        display: flex;
    }
}

@media (min-width: 960px) {
    @font-face {
        font-family: 'NeueMontreal-Regular';
        src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
            url('NeueMontreal-Regular.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    /* main {
        width: 50%;
        overflow: scroll;
        height: 100vh;
        overflow-x: hidden;
    } */
    
    .map {
        margin-top: 4em;
    }
    
    :root {
        --font: 'NeueMontreal-Regular', system, sans-serif;
        --size: 24px;
    }
    
    body {
        font-family: var(--font);
        margin: 2em;
        font-size: var(--size);
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
    }
    
    #menu {
        border: solid 2px black;
        background-color: white;
        border-radius: 50em;
        width: 2em;
        height: 2em;
        display: none;
    }
    
    .shop {
        border-radius: 50em;
        width: 2em;
        height: 2em;
        position: relative;
        z-index: 3;
    }
    
    .slant {
        transform: rotate(39deg);
        position: relative;
        z-index: 3;
        display: flex;
        margin-top: 5em;
        margin-left: 3.8em;
    }
    
    #right {
        margin-left: 1.1em;
    }
    
    .shop:nth-child(1) {
        margin-top: 1em;
    }
    
    .shop:nth-child(3) {
        margin-top: 1em;
    }
    
    .shop:nth-child(4) {
        margin-top: 0.2em;
    }
    
    #soc {
        position: relative;
        z-index: 3;
        left: 1em;
    }
    
    #theo {
        position: relative;
        z-index: 3;
        left: 1em;
    }
    
    img {
        width: 10em;
        border: solid 2px;
        border-radius: 0.2em;
    }
    
    #collection {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 4em;
    }
    
    #roads {
        display: flex;
        flex-direction: column;
        margin-top: -110em;
    }
    
    .cross-wrap {
        margin-top: -15em;
        position: relative;
        z-index: 3;
    }
    
    .shop-wrap:nth-child(2) {
        margin-left: 1em;
    }
    
    .past {
        font-size: 12px;
        color: grey;
        border: solid 2px black;
        padding: 1em;
        text-align: end;
        z-index: 2;
        transform: rotate(40deg);
        margin-top: 16em;
        margin-left: -18em;
        background-color: white;
    }
    
    #market-road {
        border: none;
        border-radius: 0;
        width: 9em;
        position: relative;
        z-index: 1;
        margin-left: 2em;
    }
    
    .right-shops {
        margin-left: 4.1em;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .left-shops {
        margin-left: 1em;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .number-cross-wrap {
        display: flex;
    }
}

@media (min-width: 1024px) {
    @font-face {
        font-family: 'NeueMontreal-Regular';
        src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
            url('NeueMontreal-Regular.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    .map {
        margin: 0 auto;
        margin-top: 2em;
    }
    
    :root {
        --font: 'NeueMontreal-Regular', system, sans-serif;
        --size: 24px;
    }
    
    body {
        font-family: var(--font);
        margin: 2em;
        font-size: var(--size);
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
    }
    
    #menu {
        border: solid 2px black;
        background-color: white;
        border-radius: 50em;
        width: 2em;
        height: 2em;
        display: none;
    }
    
    .shop {
        border-radius: 50em;
        width: 2em;
        height: 2em;
        position: relative;
        z-index: 3;
    }
    
    .slant {
        transform: rotate(39deg);
        position: relative;
        z-index: 3;
        display: flex;
        margin-top: 5.6em;
        margin-left: 3.6em;
    }
    
    #right {
        margin-left: 1.1em;
    }
    
    .shop:nth-child(1) {
        margin-top: 1em;
    }
    
    .shop:nth-child(3) {
        margin-top: 1em;
    }
    
    .shop:nth-child(4) {
        margin-top: 0.2em;
    }
    
    #soc {
        position: relative;
        z-index: 3;
        left: 1em;
    }
    
    #theo {
        position: relative;
        z-index: 3;
        left: 1em;
    }
    
    img {
        width: 10em;
        border: solid 2px;
        border-radius: 0.2em;
    }
    
    #collection {
        display: grid;
        gap: 0.25em;
        margin-top: 10em;
    }
    
    #roads {
        display: flex;
        flex-direction: column;
        margin-top: -110em;
    }
    
    .cross-wrap {
        margin-top: -15em;
        position: relative;
        z-index: 3;
    }
    
    .shop-wrap:nth-child(2) {
        margin-left: 1em;
    }
    
    .past {
        font-size: 12px;
        color: grey;
        border: solid 2px black;
        padding: 1em;
        text-align: end;
        z-index: 2;
        transform: rotate(40deg);
        margin-top: 0em;
        margin-left: -6em;
        background-color: white;
    }
    
    #market-road {
        border: none;
        border-radius: 0;
        width: 9em;
        position: relative;
        z-index: 1;
        margin-left: 2em;
    }
    
    .right-shops {
        margin-left: 4.1em;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .left-shops {
        margin-left: 1em;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .number-cross-wrap {
        display: flex;
    }
}

@media (min-width: 1440px) {
    .slant {
        transform: rotate(39deg);
        position: relative;
        z-index: 3;
        display: flex;
        margin-top: 5.6em;
        margin-left: 3.5em;
    }

    .past {
        font-size: 12px;
        color: grey;
        border: solid 2px black;
        padding: 1em;
        text-align: end;
        z-index: 2;
        transform: rotate(40deg);
        margin-top: 21em;
        margin-left: -6em;
        background-color: white;
    }

    #collection {
        margin: 2em auto;
        margin-top: 3em;
    }

    #third-cross {
    margin-top: 10em;
}

#third-left > a {
    margin-top: 1em;
}

#third-left {
    display: flex;
    flex-direction: column;
}

#third-right {
    margin-left: 1.1em;
}

#third-right > a {
    margin-top: 1em;
}

#monsoon {
    margin-top: 9em;
}

#second-cross {
    margin-top: 2em;
}

#second-right {
    margin-left: 1.1em;
}

#second-right > a {
    margin-top: 0.2em;
}

#second-left > a {
    margin-top: 2em;
}

#first-cross {
    margin-top: 1em;
}

#first-right {
    margin-left: 1.1em;
}

#first-right > a {
    margin-top: 1.8em;
}

#first-left > a {
    margin-top: 0.5em;
}
}