@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font: 'NeueMontreal-Regular', system, sans-serif;
    --size: 24px;
}

body {
    font-family: var(--font);
    margin: 2em;
    font-size: var(--size);
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

#menu {
    border: solid 2px black;
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.shop {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: relative;
    z-index: 3;
}

.bakery {
    background-color: rgb(255, 184, 249);
}

.bank {
    background-color: rgb(11, 255, 133);
}

.cafe {
    background-color: rgb(255, 202, 12);
}

.salon {
    background-color: rgb(24, 201, 255);
}

.gen-store {
    background-color: rgb(255, 24, 51);
}

.groc {
    background-color: rgb(188, 255, 31);
}

.pharmacy {
    background-color: rgb(74, 37, 255);
}

.electronics {
    background-color: rgb(255, 37, 193);
}

.slant {
    transform: rotate(39deg);
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#left {
    top: 4em;
    left: 4em;
}

.shop:nth-child(1) {
    margin-top: 1em;
}

.shop:nth-child(3) {
    margin-top: 1em;
}

.shop:nth-child(4) {
    margin-top: 0.2em;
}

.gen-store:nth-child(2) {
    position: relative;
    z-index: 3;
    left: 1em;
}

#theo {
    position: relative;
    z-index: 3;
    left: 1em;
}

img {
    width: 10em;
    border: solid 2px;
    border-radius: 0.2em;
}

#collection {
    display: flex;
    flex-direction: column;
    margin-top: 30em;
}

#roads {
    display: flex;
    flex-direction: column;
    margin-top: -110em;
}

.cross {
    font-size: 12px;
    color: grey;
    border: solid 2px black;
    padding: 1em;
    text-align: end;
    z-index: 2;
    margin-top: 35em;
}

.cross-wrap {
    margin-top: -15em;
    position: relative;
    z-index: 3;
}

.past {
    font-size: 12px;
    color: grey;
    border: solid 2px black;
    padding: 2em;
    text-align: end;
    z-index: 2;
    transform: rotate(40deg);
    position: relative;
    top: 8em;
    left: 8em;
}

#market-road {
    border: none;
    border-radius: 0;
    width: 9em;
    position: relative;
    z-index: 1;
    margin-left: 2em;
}