body {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1c;
    color: #808080;
}

h1 {
    font-family: "rama-gothic-m", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 9em;
    line-height: 75%;
    margin: 0 auto;
    margin-top: 0.2em;
    z-index: 1;
}

.sub {
    display: flex;
    width: 50vw;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    /* flex: 25% 50% 25%; */
    gap: 0.5em;
    margin-top: 2em;
}

img {
    width: 3em;
}

h2 {
    font-family: "sepian", sans-serif;
    font-weight: 400;
    font-size: 5em;
    font-style: normal;
    line-height: 60%;
}

.dates {
    text-align: center;
    margin-top: 1em;
    margin: 1em 3em;
}

u {
    text-decoration: underline 1px;
}

span {
    font-family: "futura-pt", 'futura';
    font-weight: 400;
    font-style: normal;
}

#dots {
    font-size: 0.7em;
}

#face {
    width: 50em;
    margin: 0 auto;
    z-index: 2;
    margin-top: -30em;
    position: relative;
    display: block;
    animation-name: move;
    animation-duration: 3s;
    animation-delay: 2s;
}

h1:hover + #face {
    display: none;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) ease-in-out;
    transition-delay: 1s;
}

@keyframes move {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* audio {
    display: none;
} */
