/* 
html {
    cursor: none;
} */

body {
    font-family: 'NeueMontreal-Regular', 'SF Pro';
    display: flex;
    flex-direction: column;
    margin: 2em 4em;
    margin: 1em 2em;
}

/* @keyframes bg {
    0% {
        background-color: rgb(0, 85, 60);
    }

    25% {
        background-color: rgb(187, 218, 12);
    }

    50% {
        background-color: rgb(0, 132, 255);
    }

    100% {
        background-color: rgb(247, 0, 255);
    }
} */

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url(https://drive.google.com/file/d/1rmmKZ30FghQjsv8Fh2uw2rnv7i08ISQ4/view?usp=share_link);
}

h1 {
    font-size: 5em;
    color: black;
    font-weight: 100;
    line-height: 95%;
}

h2 {
    font-size: 5em;
    color: black;
    font-weight: 100;
}

a {
    font-size: 5em;
    color: black;
    text-decoration: underline solid 8%;
    cursor: pointer;
}

main {
    display: flex;
    margin-top: 5em;
}

section {
    width: 50vw;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
   justify-content: flex-start;
}

footer {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5em;
}

/* #cc{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: stretch;
              animation-duration: 1s;
              animation-timing-function: ease-out;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              animation-play-state: running;
  } */

  @keyframes stretch {
    0% {
        color: rgb(0, 85, 60);
    }

    25% {
        color: rgb(187, 218, 12);
    }

    50% {
        color: rgb(0, 132, 255);
    }

    100% {
        color: rgb(247, 0, 255);
    }
}

a:hover {
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
/* 
body:hover {
    animation-name: bg;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
} */