/* 
html {
    cursor: none;
} */


@font-face {
    font-family: 'NeueMontreal';
    src:
        local('NeueMontreal-Regular'),
        url('./Fonts/NeueMontreal-Regular.woff2') format('woff2'),
}

:root {
    --ff: 'NeueMontreal-Regular';
}

body {
    font-family: var(--ff), 'NeueMontreal-Regular', 'SF Pro', sans-serif;
    display: flex;
    font-weight: 400;
    flex-direction: column;
    letter-spacing: -0.1em;
    margin: 2em 4em;
    margin: 1em 2em;
}

h1 {
    font-size: 5em;
    color: black;
    font-weight: 100;
    line-height: 95%;
}

h2 {
    font-size: 5em;
    color: black;
    font-weight: 100;
    flex-grow: 1;
}

a {
    font-size: 5em;
    color: black;
    text-decoration: underline solid 8%;
    cursor: pointer;
}

main {
    display: flex;
    margin-top: 5em;
}

section {
    width: 50vw;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
   justify-content: flex-start;
}

/* #cc{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: stretch;
              animation-duration: 1s;
              animation-timing-function: ease-out;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              animation-play-state: running;
  } */

  @keyframes stretch {
    0% {
        color: rgb(0, 85, 60);
    }

    25% {
        color: rgb(187, 218, 12);
    }

    50% {
        color: rgb(0, 132, 255);
    }

    100% {
        color: rgb(247, 0, 255);
    }
}

a:hover {
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
/* 
body:hover {
    animation-name: bg;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
} */