/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
  overflow: hidden;
}

.table {
  background-color: antiquewhite;
  height: 125vh;
  width: 125vw;
top: -140%;
  transform: rotate3d(5, 2, -5, 70deg);
  position: relative;
  z-index: 1;
}

.pot {
  background-color: rgb(75, 56, 37);
  height: 30%;
  width: 20%;
  position: relative;
  top: 30%;
  left: 20%;
  border-radius: 50%;
  z-index: 2;
}

.capple {
  background-color: rgb(228, 228, 177);
  height: 20%;
  width: 15%;
  position: relative;
  z-index: 2;
}

.vase {
  height: 20%;
  width: 30%;
  background: repeating-linear-gradient(
    rgb(83, 117, 46),
    white 9px,
    transparent 9px,
    transparent 3px
  );
  position: relative;
  top: -70%;
  left: 30%;
  transform: rotate(90deg);
  z-index: 2;
}

.pap {
  background: repeating-linear-gradient(
    rgb(83, 117, 46),
    rgb(242, 204, 134) 12px,
    transparent 9px,
    transparent 3px
  );
  height: 20%;
  width: 20%;
  position: relative;
  z-index: 3;
  left: 20%;
  top: 30%;
  transform: rotate(-10deg);
  border-radius: 60%  80%  80%  50%;
}

.pumpkin {
  background-color: rgb(255, 107, 49);
  height: 40%;
  width: 25%;
  position: relative;
  left: 50%;
  z-index: 3;
  transform: rotate(30deg);
  border-radius: 10%  50%  50%  50%;
}

