@font-face {
    font-family: 'MD Nichrome Test';
    src: url(https://drive.google.com/file/d/1z7hVjEXeGyPv0-n4iQJ-WZaCYHICcqYh/view?usp=share_link);
}

@font-face {
    font-family: 'DM Sans';
    src: url(https://drive.google.com/file/d/1v8vERZumeCLC_naJoyc-EGNMeAYnUBv8/view?usp=share_link);
}

@font-face {
    font-family: 'Beatrice Trial';
    src: url(https://drive.google.com/file/d/1BC1PORotnN8TKsDAXPihOKfqG2A5gjNP/view?usp=share_link);
}

body {
    margin: 0 auto;
    /* animation: gradient 15s ease-in-out 1;  */
    height: 100%;
    /* color: #FFE8FF; */
}

#index-body {
    background: linear-gradient(0deg, #81C3F8, #016AE4, #2254FF, #000B28, #FF9D66);
}

.flex-wrap {
    display:flex;
    height:100vh;
}

.col {
    width: 50%;
    padding: 6% 12%;
    overflow: scroll;
}

.half-col {
    width: 25%;
    padding: 6% 12%;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
    20% {
		background-position: 0% 80%;
	}
    50% {
		background-position: 0% 120%;
	}
	100% {
		background-position: 0% 100%;
	}
} */

/* title and author name dont line up */

h1, h2 {
    font-family: 'MD Nichrome Test';
    text-transform: uppercase;
    font-size: 12em;
    line-height: 79%;
    margin: 2em 0.5em;
}

h2 {
    margin-top: 2em;
}

p {
    font-family: 'Beatrice Trial', 'DM Sans', sans-serif;
    line-height: 180%;
}

button {
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: solid 4px;
    font-family: 'SF Pro';
    font-size: 3em;
    background-color: transparent;
    margin: 2em auto;
    cursor: pointer;
    color: #FFE8FF;
}

button:hover {
    color: black;
    border: none;
    background-color: #FFE8FF;
    transition: 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

::-webkit-scrollbar {
    width: 0px;
  }

  .large-gap-div {
    height: 30em;
}

.medium-gap-div {
    height: 20em;
}

.small-gap-div {
    height: 10em;
}

#2left {
    background-image: linear-gradient(red, yellow);
}

#2-right {
    background-image: linear-gradient(165deg, #FFC2AF, #0059C0);
}

#3-left {
    background-color: #A4D6FF;
}

#3-right {
    background-image: linear-gradient(15deg, #FFCC81 -20%, #A4D6FF 20%, #1C71D2 100%);
}