#2-left {
    background-image: linear-gradient(red, yellow);
}

#2-right {
    background-image: linear-gradient(165deg, #FFC2AF, #0059C0);
}

#3-left {
    background-color: #A4D6FF;
}

#3-right {
    background-image: linear-gradient(15deg, #FFCC81 -20%, #A4D6FF 20%, #1C71D2 100%);
}