/* title and author name dont line up */

h1, h2 {
    font-family: 'MD Nichrome Test';
    text-transform: uppercase;
    font-size: 12em;
    line-height: 79%;
}

h2 {
    margin-top: 2em;
}

p {
    font-family: 'Beatrice Trial', 'DM Sans', sans-serif;
    line-height: 180%;
}

body {
    background: white;
}

.flex-wrap {
    display:flex;
    height:100vh;
}


.col {
    width: 50%;
    padding: 6% 12%;
    overflow: scroll;
}

.left-col {
    background: linear-gradient(15deg, #FFCC81 -20%, #A4D6FF 20%, #1C71D2 100%);
}

.right-col {
    background: linear-gradient(165deg, #FFC2AF, #0059C0);
}

.large-gap-div {
    height: 30em;
}

.medium-gap-div {
    height: 20em;
}

.small-gap-div {
    height: 10em;
}

/* .grid-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
} */ 