body {
    --background: red;
    background-color: var(--background);
    }

    @media (min-width: 800px) {
    body { --background: green; }
    }
    
    @media (max-width: 600px) {
    body { --background: blue; }
    }

    li { 
        color: red; 
    }

    li:hover { 
        color: green; 
    }
    li p {
        color: blue;
        opacity: 0;
    }
    li p:hover { 
        opacity: 1;
    }