/* FONTS */
@font-face {
    font-family: 'sunset-gothic-light-trial-webfont';
    src: url('Fonts/sunset-gothic-light-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-light-trial-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'sunset-gothic-regular-trial-webfont';
    src: url('Fonts/sunset-gothic-regular-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-regular-trial-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'sunset-gothic-medium-trial-webfont';
    src: url('Fonts/sunset-gothic-medium-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-medium-trial-webfont.woff') format('woff');
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'sunset-gothic-heavy-trial-webfont';
    src: url('Fonts/sunset-gothic-heavy-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-heavy-trial-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES */
:root {
    --font: 'sunset-gothic-light-trial-webfont', 'NeueMontreal-Regular', 'Inter', sans-serif;
    --fontSize: 2rem;
    --gradient1: linear-gradient(90deg, #ABC600, #313800);
    --gradient2: linear-gradient(90deg, #EA6CFF, #313800);
    --gradient3: linear-gradient(90deg, #005F31, #313800);
    --gradient4: linear-gradient(90deg, #D1ACFF, #313800);
    --gradient5: linear-gradient(90deg, #734132, #313800);
    --gradient6: linear-gradient(90deg, #6F8EFF, #313800);

}

/* MOBILE: 375px */
body {
    font-family: var(--font);
    font-size: var(--fontSize);
}

svg {
    height: 0px;
}

#set:before,
#set:after {
position: absolute;
left: 0;
top: 0;
content: '';
width: 1000%;
height: 1000%;
z-index: 9999;
opacity: 50%;
}

#set:before {
background: #000000;
filter: url(#grainy);
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    text-transform: uppercase;
}

#set {
    display: flex;
    flex-direction: column;
    align-items: left;
    color:white;
}

#row {
    display: flex;
    flex-direction: row;
}

.rowText {
    font-size: var(--fontSize);
}

#row p {
    margin: 0.5em;
}

footer {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
}

.all {
    background:var(--gradient1);
    display: flex;
    flex-direction: row;
}

.rented {
    background:var(--gradient6);
    height:100%;
}

.owned{
    background:var(--gradient3);
    height:100%;
}

footer a {
    text-decoration: underline;
}

/* DESKTOP: 768px */
@media(min-width:768px) {
    :root {
        --fontSize: 36px;
    }
    
    .topBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        text-transform: uppercase;
    }
}