/* FONTS */
@font-face {
    font-family: 'sunset-gothic-light-trial-webfont';
    src: url('Fonts/sunset-gothic-light-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-light-trial-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'sunset-gothic-regular-trial-webfont';
    src: url('Fonts/sunset-gothic-regular-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-regular-trial-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'sunset-gothic-medium-trial-webfont';
    src: url('Fonts/sunset-gothic-medium-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-medium-trial-webfont.woff') format('woff');
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'sunset-gothic-heavy-trial-webfont';
    src: url('Fonts/sunset-gothic-heavy-trial-webfont.woff2') format('woff2'),
        url('Fonts/sunset-gothic-heavy-trial-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES */
:root {
    --h1Font: 'sunset-gothic-regular-trial-webfont', 'NeueMontreal-Regular', 'Inter', sans-serif;
    --font: 'sunset-gothic-light-trial-webfont', 'NeueMontreal-Regular', 'Inter', sans-serif;
    --fontSize: 1rem;
    /* --gradient1: linear-gradient(90deg, #00703a, #436cff, #ABC600);
    --gradient2: linear-gradient(90deg, #436cff, #CAFFD2, #EA6CFF);
    --gradient3: linear-gradient(90deg, #ABC600, #D1ACFF, #00703a);
    --gradient4: linear-gradient(90deg, #D1ACFF, #00703a, #EA6CFF);
    --gradient5: linear-gradient(90deg, #00703a, #EA6CFF, #CAFFD2);
    --gradient6: linear-gradient(90deg, #CAFFD2, #ABC600, #436cff); */

}

/* MOBILE: 375px */
body {
    font-family: var(--font);
    font-size: var(--fontSize);
    background-color: #000000;
    color: white;
    /* display: flex;
    flex-direction: column;
    overflow-x: hidden; */
}

svg {
    height: 0px;
}

#set:before,
#set:after {
position: fixed;
left: 0;
top: 0;
content: '';
width: 100vw;
height: 100vh;
z-index: 9999;
opacity: 50%;
}

#set:before {
background: #000000;
filter: url(#grainy);
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    text-transform: uppercase;
    font-family: var(--h1Font);
    background-color: #0b0b0b;
    position: relative;
    z-index: 10000;
    color: white;
}

.empty {
    display: none;
    /* background: var(--gradient4); */
    display: none;
}

#set {
    display: flex;
    flex-direction: column;
    align-items: left;
    color:white;
    background-color: #000000;
}

#row {
    display: flex;
    flex-direction: row;
    position: relative; 
    animation: oscillate 5s infinite;
    animation-delay: calc(var(--delay) * 1ms);
    overflow: hidden;
}

#row:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
    cursor: pointer;
  }

@keyframes oscillate {
        0% {
          left: 0;
        }
        50% {
          left: 60px;
        }
        100% {
          left: 0;
        }
    }

.rowText {
    /* display: none; */
    color: white;
    font-size: var(--fontSize);
    position: relative;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .rowText:hover {
    display: block;
} */

#row p {
    margin: 1em;
}

footer {
    font-size: 16px;
    text-align: center;
    font-weight: 200;
}

.all {
    background:var(--gradient1);
}

.rented {
    background:var(--gradient6);
    height:100%;
    display: flex;
    align-items: center;
}

.owned{
    background:var(--gradient3);
    height:100%;
    display: flex;
    align-items: center;
}

.bio {
    padding: 2em;
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: alias;
}

/* DESKTOP: 768px */
@media(min-width:768px) {
    :root {
        --fontSize: 120%;
    }
    
    .topBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        text-transform: uppercase;
        font-size: var(--fontSize);
        margin: auto 8em;
    }

    #set {
        max-width: 80vw;
    }
}