body {
  background-color:#4d00d5;
  color:white;
  font-family: 'Archivo Black', sans-serif;
}

.wrapper {
  display:flex;
  flex-direction:column;
/*  justify-content:center;*/
  align-items:center;
}

h1 {
  font-size:25vw;
  text-shadow: 0px 4px 18px rgba(0,0,0,0.5);
  text-transform:uppercase;
  font-weight:normal;
}
img {
  max-width:75px;
}

.lisa {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:baseline;
/*  background-color:orange;*/
}

.lisa-text {
  max-width:20vw;
  top:0;
}


.lisa img {
  position:absolute;
/*  top:50%;*/
}

.love {
  left: 0;
  top:50%;
 animation: rotater 2s ease-in-out infinite;
}

@keyframes rotater {
  0%   {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}



.smileyplanet {
  left:20%;
  top:60%;
  animation: rotater-c 6s linear infinite;
}

@keyframes rotater-c {
  0%   {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}

.sphere {
  left:32%;
  top:35%;
  animation: rotater 2s linear infinite;

}

.heart {
  top:50%;
  left:50%;
  display: none;
}

.flower {
  top: 35%;
  left:60%;
  animation: rotater-c 6s linear infinite;

}

.ufo {
  top: 45%;
  left:75%;
  animation: rotater 12s linear infinite;

}

.aliencar {
  left:50%;
  top:50%;
  animation: rotater-c 6s linear infinite;
}


.burst {
  left:92%;
  top:55%;
  animation: rotater-c 6s linear infinite;
}




@media (max-width: 700px) {
/* if we change the img size to be smaller, say 50px, we can call it a day, but lets make it bigger and make a new layout */
img {
  max-width:80px;
}
/*change to column layout, adjust positioning of each item*/
h1 {
  font-size:50vw;
}

.lisa {
  flex-direction:column;
}

.love {
  top:10%;
  animation-name: rotater 1s;
  /* animation: 4s linear infinite;
  animation-iteration-count: infinite; */
}



@keyframes rotater {
  0%   {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.smileyplanet {
  left:35%;
  top:15%;
}

.sphere {
  left:5%;
  top:35%;
}

.heart {
  top:25%;
  left:10%;
}

.flower {
  top: 40%;
  left:22%;
}

.ufo {
  top: 50%;
  left:0;

}

.aliencar {
  left:65%;
  top:65%;
}


.burst {
  left:95%;
  top:86%;
}



}